@font-face {
    font-family: "Press_Start_2P";
    src: url(../assets/fonts/Press_Start_2P/PressStart2P-Regular.ttf);
}

h1 {
    font-family: "Press_Start_2P", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.text-display {
    font-size: 45px;
}

.font-size-title {
    font-size: 2.813rem;
}

.font-page-heading {
    font-size: 1.25rem;
}

.font-page-heading-smaller {
    font-size: 1.25rem;
}

.input-style::placeholder {
    color: white;
}

.submit-button-style {
    font-family: "Press_Start_2P", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    border: 3px solid black;
    border-radius: 15px;
    width: 275px;
    height: 125px;
    font-size: 24px;
}

.text-bubble {
    background-image: url(../assets/icons/pixelatedTxtBubbleTemplate-removebg-preview.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 275px;
    max-height: 95px;
    padding-bottom: 3.5rem;
    padding-top: 0.35rem;
    line-height: 1.5rem;
}


.text-bubble-inner {
    font-size: 1.25rem;
}

.result-sum-text {
    font-family: "Press_Start_2P", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.result-sum {
    background-color: #7C439B;
    color: white;
    border: 3px solid black;
    border-radius: 15px;
    width: 275px;
    height: 125px;
}

.result-compare {
    font-family: "Press_Start_2P", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #7C439B;
    color: white;
    border: 3px solid black;
    border-radius: 15px;
    width: 275px;
    height: 200px;
}

.result-orange {
    font-family: "Press_Start_2P", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #F9914B;
    color: white;
    border: 3px solid black;
    border-radius: 15px;
    width: 275px;
    height: 200px;
}

.result-story {
    font-family: "Press_Start_2P", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #7C439B;
    color: white;
    border: 3px solid black;
    border-radius: 15px;
    width: 275px;
    overflow-x: scroll;
    /* scrollbar-color: #7C439B; */
    line-break: normal;
}

.eight-ball {
    font-family: "Press_Start_2P", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    background-color: black;
    border: 3px solid #346BAF;
    border-radius: 50%;
    aspect-ratio: 1;
    width: 330px;
}


.font-size-60 {
    font-size: 60px;
}

.screen-glow {
    box-shadow: 0 0 20px #00FFFF32 ;
}

.grid-cols-4 {
    display: grid;
    grid-template-columns: 300px;
}

.pb-12 {
    padding-bottom: 48px;
}

.bg-darkNavy-500 {
    background-color: #111828;
}

.bg-adding2numbers {
    background-color: #F9A159;
}

.pink-submit {
    background-color: #D94886;
}

.blue-submit {
    background-color: #407DBD;
}

.purple-submit {
    background-color: #7C439B;
}

.bg-askingquestions {
    background-color: #ED885C;
}

.bg-greaterorless {
    background-color: #E03759;
}

.bg-helloworld {
    background-color: #E24662;
}

.bg-magic8ball {
    background-color: #DC3570;
}

.bg-oddoralpha {
    background-color: #DC4988;
}

.bg-madlib {
    background-color: #E64279;
}

.bg-restaurantpicker {
    background-color: #D758A1;
}

.bg-reversenumber {
    background-color: #3395AB;
}

.bg-chinese-blue {
    background-color: #45569D !important;
}

.bg-aqua-blue {
    background-color: #3AB8CB !important;
}

.bg-pearly-purple {
    background-color: #A96AAD !important;
}

.bg-twilight-lavender {
    background-color: #8B3972 !important;
}

.bg-mandarin {
    background-color: #F0804A !important;
}

.bg-moonstone {
    background-color: #3CA2C4 !important;
}

.bg-telemagenta {
    background-color: #D0336C !important;
}


.input-style {
    font-family: "Press_Start_2P", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 15px !important;
    border: 3px solid black !important;
    max-width: 275px;
    max-height: 50px;
}


.icon-hover:hover {
    /* filter: brightness(0.25); */
    cursor: pointer;
    color: white;
}

.button-name {
    border-radius: 15px;
    font-family: "Press_Start_2P";
    font-size: 1.25rem;
    min-height: 100%;
    padding-block-start: 65px;
    color: transparent;
}
.button-name:hover {
    color: white;
    backdrop-filter: brightness(0.25);
}

.home-btn-style {
    background-color: #D9D9D9;
    border-radius: 50%;
}

#adding2NumbersBtn {
    background-image: url(../assets/icons/Adding2Numbers.png);
    background-size: cover;
}
#askingQuestionsBtn {
    background-image: url(../assets/icons/AskingQuestions.png);
    background-size: cover;
}
#greaterOrLessBtn {
    background-image: url(../assets/icons/GuessIt.png);
    background-size: cover;
}
#helloWorldBtn {
    background-image: url(../assets/icons/HelloWorld.png);
    background-size: cover;
}
#madLibBtn {
    background-image: url(../assets/icons/MadLib.png);
    background-size: cover;
}
#magic8BallBtn {
    background-image: url(../assets/icons/Magic8Ball.png);
    background-size: cover;
}
#oddOrEvenBtn {
    background-image: url(../assets/icons/OddOrEven.png);
    background-size: cover;
}
#restaurantPickerBtn {
    background-image: url(../assets/icons/RestaurantPicker.png);
    background-size: cover;
}
#reverseItAlphanumericBtn {
    background-image: url(../assets/icons/ReverseItAlphaNumeric.png);
    background-size: cover;
}
#reverseItNumbersBtn {
    background-image: url(../assets/icons/ReverseItNumbers.png);
    background-size: cover;
}


/* Desktop */
@media (min-width: 1280px) {
    .text-display {
        font-size: 60px;
    }

    .grid-cols-4 {
        display: grid;
        grid-template-columns: repeat(4, 300px);
    }


    .result-story {
        font-family: "Press_Start_2P", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        background-color: #7C439B;
        color: white;
        border: 3px solid black;
        width:100%;
        border-radius: 15px;
        line-break: normal;
    }

    #adding2NumbersBtn {
        background-image: url(../assets/icons/Adding2Numbers.png);
        background-size: cover;
    }
    #askingQuestionsBtn {
        background-image: url(../assets/icons/AskingQuestions.png);
        background-size: cover;
    }
    #greaterOrLessBtn {
        background-image: url(../assets/icons/GuessIt.png);
        background-size: cover;
    }
    #helloWorldBtn {
        background-image: url(../assets/icons/HelloWorld.png);
        background-size: cover;
    }
    #madLibBtn {
        background-image: url(../assets/icons/MadLib.png);
        background-size: cover;
    }
    #magic8BallBtn {
        background-image: url(../assets/icons/Magic8Ball.png);
        background-size: cover;
    }
    #oddOrEvenBtn {
        background-image: url(../assets/icons/OddOrEven.png);
        background-size: cover;
    }
    #restaurantPickerBtn {
        background-image: url(../assets/icons/RestaurantPicker.png);
        background-size: cover;
    }
    #reverseItAlphanumericBtn {
        background-image: url(../assets/icons/ReverseItAlphaNumeric.png);
        background-size: cover;
    }
    #reverseItNumbersBtn {
        background-image: url(../assets/icons/ReverseItNumbers.png);
        background-size: cover;
    }    

    .add2num-heading-area {
        background-image: url(../assets/icons/Adding2Numbers.png);
        background-size: cover;
        border-radius: 15px;
        aspect-ratio: 12 / 7;
        width: 480px;
        height: 280px;
    }

    .askingquestions-heading-area {
        background-image: url(../assets/icons/AskingQuestions.png);
        background-size: cover;
        border-radius: 15px;
        aspect-ratio: 12 / 7;
        width: 480px;
        height: 280px;
    }
    
    .greaterorless-heading-area {
        background-image: url(../assets/icons/GuessIt.png);
        background-size: cover;
        border-radius: 15px;
        aspect-ratio: 12 / 7;
        width: 480px;
        height: 280px;
    }
    
    .helloworld-heading-area {
        background-image: url(../assets/icons/HelloWorld.png);
        background-size: cover;
        border-radius: 15px;
        aspect-ratio: 12 / 7;
        width: 480px;
        height: 280px;
    }
    
    .madlib-heading-area {
        background-image: url(../assets/icons/MadLib.png);
        background-size: cover;
        border-radius: 15px;
        aspect-ratio: 12 / 7;
        width: 480px;
        height: 280px;
    }
    
    .magic8ball-heading-area {
        background-image: url(../assets/icons/Magic8Ball.png);
        background-size: cover;
        border-radius: 15px;
        aspect-ratio: 12 / 7;
        width: 480px;
        height: 280px;
    }
    
    .oddoreven-heading-area {
        background-image: url(../assets/icons/OddOrEven.png);
        background-size: cover;
        border-radius: 15px;
        aspect-ratio: 12 / 7;
        width: 480px;
        height: 280px;
    }
    
    .restaurantpicker-heading-area {
        background-image: url(../assets/icons/RestaurantPicker.png);
        background-size: cover;
        border-radius: 15px;
        aspect-ratio: 12 / 7;
        width: 480px;
        height: 280px;
    }
    
    .reverseitalphanumeric-heading-area {
        background-image: url(../assets/icons/ReverseItAlphaNumeric.png);
        font-size: 2.25rem;
        background-size: cover;
        border-radius: 15px;
        aspect-ratio: 12 / 7;
        width: 480px;
        height: 280px;
    }
    
    .reverseitnumbers-heading-area {
        background-image: url(../assets/icons/ReverseItNumbers.png);
        background-size: cover;
        border-radius: 15px;
        aspect-ratio: 12 / 7;
        width: 480px;
        height: 280px;
    }
    
    .font-page-heading {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 68px 0;
        min-height: 100%;
        font-size: 48px;
        backdrop-filter: brightness(0.25);
        border-radius: 15px;
    }

    .font-page-heading-smaller {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 86px 0;
        font-size: 2.25rem;
        backdrop-filter: brightness(0.25);
        border-radius: 15px;
    }

    .bg-adding2numbers {
        background-color: #111828;
    }

    .bg-askingquestions {
        background-color: #111828;
    }
    
    .bg-greaterorless {
        background-color: #111828;
    }
    
    .bg-helloworld {
        background-color: #111828;
    }
    
    .bg-magic8ball {
        background-color: #111828;
    }
    
    .bg-oddoralpha {
        background-color: #111828;
    }
    
    .bg-madlib {
        background-color: #111828;
    }
    
    .bg-restaurantpicker {
        background-color: #111828;
    }
    
    .bg-reversenumber {
        background-color: #111828;
    }
    

}